@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e7e6;
}

.container {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
}
.gap,
.icon-design-holder,
.container-left-create-team,
.container-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.space-between,
.container-left-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-left {
  /* display: flex;
  align-items: center; */
  flex-direction: column;
  /* border: 1px solid red; */
  width: max-content;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
}

.container-left-nav,
.container-left-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-left-design {
  padding: 0px 5px;
  box-sizing: border-box;
}

.container-left-nav-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-left-nav-logo {
  width: 30px;
  border-radius: 6px;
}
.light {
  font-weight: 300;
}

.bold {
  font-weight: 800;
  color: rgb(61, 61, 61);
}
.container-left-nav-profile {
  width: 30px;
}

.icon-design-holder {
  font-size: 12px;
  margin: 5px 0px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.text-x {
  color: grey;
}

.container-left-create-team,
.container-left-folder {
  color: grey;
  margin: 5px 0px;
  font-size: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.container-left-folder {
  margin: 20px 0px 0px 0px;
}

.product-items {
  padding-left: 10%;
  color: grey;
}

.product-items > h6 {
  margin: 8px 0px;
  color: rgb(89, 89, 89);
}

.icon-x {
  font-size: 10px;
}

.container-left-design-btn {
  font-size: 8px;
  background-color: rgb(54, 54, 54);
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 6px;
  margin-left: 20px;
}

.container-left-bottom {
  margin-top: 30px;
}

.container-right {
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container-right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  border: none;
}

.color-icon {
  color: rgb(89, 89, 89);
  font-size: 12px;
}
.container-rigt-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-coloumn-1,
.container-coloumn-2 {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  margin-top: 20px;
}

.content {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  /* padding: 20px; */
}

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  width: 150px;
  /* border: 2px solid red; */
}

.brand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.svg-icon{
  width: 20px;
  border-radius: 6px;
}

.icon-h6{
  font-size: 10px;
}

.description-text{
  color: grey;
  height: max-content;
  font-size: 12px;
}
.description > h6{
  display: flex;
  align-items: center;
  height: 30px;
}

/* .members{
} */
.members-text{
  height: 18px;
  text-align: center;
}

.members-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  box-sizing: border-box;
  width: 100%;
}
.memb-img {
  width: 15px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  margin-right: -0.5rem;
}
.cat-row1{
  display: flex;
  align-items: center;
  height: 30px;
  gap: 5px;
}

.automation{
  color: #7C54D0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 3px;
}

.e-commerce{
  color: #9D6A42;
  background-color: #FEE9D8;
}

.b2b, .mobile{
  color: #B09C61;
  background-color: #FEF0C1;
}

.saas{
  color: #4B8C6F;
  background-color: #D4F6DD;
}

.b2c{
  color: #99A45D;
  background-color: #F4FCC5;
}

.technology{
  color: #4c70b3;
  background-color: #E0EBFE;
}

.finance{
  color: #927A2F;
  background-color: #FFEFC2;
}

.publishing{
  color: #A35A92;
  background-color: #FDE7EC;
}

.web-service{
  color: #45a9c7;
  background-color: #D9F3FC;
}

.tags-text{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: gray;
}

.tommorrow{
  color: #40899f;
  background-color: #DBF4FC;
}

.no-contact{
  color: #b36e6d;
  background-color: #FFE8E6;
}

.next-month{
  color: grey;
}