@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.gap, .icon-design-holder, .container-left-create-team{
  display: flex;
  align-items: center;
  gap: 5px;
}

.space-between, .container-left-folder{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-left {
  /* display: flex;
  align-items: center; */
  flex-direction: column;
  /* border: 1px solid red; */
  width: 20%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
}

.container-left-nav, .container-left-design{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.container-left-design{
  padding: 0px 5px;
  box-sizing: border-box;
}

.container-left-nav-left-side{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-left-nav-logo{
  width: 30px;
  border-radius: 6px;
}
.light{
  font-weight: 300;
}

.bold{
  font-weight: 800;
  color: rgb(61, 61, 61);
}
.container-left-nav-profile{
  width: 30px;
}

.icon-design-holder{
  font-size: 12px;
  margin: 5px 0px;
  color: rgba(0, 0, 0, 0.800);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.text-x{
  color: grey;
}


.container-left-create-team, .container-left-folder{
  color: grey;
  margin: 5px 0px;
  font-size: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}


.container-left-folder{
  margin: 20px 0px 0px  0px ;
}

.product-items{
  border: 1px solid red;
  padding-left: 10%;
  color: grey;
}

.product-items > h6{
  margin: 8px 0px;
  color: rgb(89, 89, 89);
}