@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e7e6;
}

.container {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
}
.gap,
.icon-design-holder,
.container-left-create-team,
.container-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-header {
  cursor: pointer;
}

.space-between,
.container-left-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-left {
  /* display: flex;
  align-items: center; */
  flex-direction: column;
  /* border: 1px solid red; */
  width: max-content;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
  /* border: 1px solid red; */
  width: 250px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.container-left-nav,
.container-left-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-left-design {
  padding: 0px 5px;
  box-sizing: border-box;
}

.container-left-nav-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.container-left-nav-logo {
  width: 30px;
  border-radius: 6px;
}
.light {
  font-weight: 300;
}

.bold {
  font-weight: 800;
  color: rgb(61, 61, 61);
}
.container-left-nav-profile {
  width: 30px;
}

.icon-design-holder {
  font-size: 12px;
  margin: 5px 0px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* border: 1px solid red; */
}
.text-x {
  color: grey;
}

.container-left-create-team,
.container-left-folder {
  color: grey;
  margin: 5px 0px;
  font-size: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.container-left-folder {
  margin: 20px 0px 0px 0px;
}

.product-items {
  padding-left: 10%;
  color: grey;
}

.product-items > h6 {
  cursor: pointer;
  margin: 8px 0px;
  color: rgb(89, 89, 89);
  transition: 0.1s ease-in;
}

.product-items > h6:hover {
  scale: 1.1;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.199);
}

.icon-x {
  font-size: 10px;
}

.container-left-design-btn {
  font-size: 8px;
  background-color: rgb(54, 54, 54);
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 6px;
  text-align: center;
  /* margin-left: 20px; */
}

.container-left-bottom {
  margin-top: 100%px;
}

.container-right {
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  position: relative;
  border-bottom: 1px solid red;
}

.container-right-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  border: none;
}

.main-input:focus {
  outline: none;
}

.color-icon {
  color: rgb(89, 89, 89);
  font-size: 12px;
}
.container-rigt-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-coloumn-1,
.container-coloumn-2 {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 20px;
  margin-top: 20px;
}

.content {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  /* padding: 20px; */
}

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  width: 150px;
  /* border: 2px solid red; */
}

.brand-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg-icon {
  width: 20px;
  border-radius: 6px;
}

.icon-h6 {
  font-size: 10px;
}

.description-text {
  color: grey;
  height: max-content;
  font-size: 12px;
}
.description > h6 {
  display: flex;
  align-items: center;
  height: 30px;
  color: rgba(0, 0, 0, 0.822);
}

/* .members{
} */
.members-text {
  height: 18px;
  text-align: center;
}

.members-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  box-sizing: border-box;
  width: 100%;
}
.memb-img {
  width: 15px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  margin-right: -0.5rem;
}
.cat-row1 {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 5px;
}

.automation {
  color: #7c54d0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 3px;
}

.e-commerce {
  color: #9d6a42;
  background-color: #fee9d8;
}

.b2b,
.mobile {
  color: #b09c61;
  background-color: #fef0c1;
}

.saas {
  color: #4b8c6f;
  background-color: #d4f6dd;
}

.b2c {
  color: #99a45d;
  background-color: #f4fcc5;
}

.technology {
  color: #4c70b3;
  background-color: #e0ebfe;
}

.finance {
  color: #927a2f;
  background-color: #ffefc2;
}

.publishing {
  color: #a35a92;
  background-color: #fde7ec;
}

.web-service {
  color: #45a9c7;
  background-color: #d9f3fc;
}

.tags-text {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: gray;
}

.tommorrow {
  color: #40899f;
  background-color: #dbf4fc;
}

.no-contact {
  color: #b36e6d;
  background-color: #ffe8e6;
}

.next-month {
  color: grey;
}

.calculation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  color: gray;
}

.three {
  background-color: black;
  color: white;
  width: max-content;
  padding: 2px 4px;
  border-radius: 3px;
  text-align: center;
}

.container-right-footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  bottom: 20px;
  left: 30%;
}

.container-right-footer > h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgba(0, 0, 0, 0.808);
}

.delete {
  color: rgb(170, 35, 35) !important;
}

.dropdown-container {
  position: relative;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > h6 {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 12px;
  border: 1px solid red;
  padding: 4px 6px;
}

.dropdown-content > h6:hover {
  background-color: #f1f1f1;
}

.dropdown-content {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdown-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.267);
  border-radius: 6px;
  display: none;
}

.drop {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.drop:hover {
  background-color: rgb(219, 219, 219);
}

.hold-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5px;
}

.search-list {
  position: absolute;
  top: 20px;
  left: 10px;
  list-style: none;
  background-color: whitesmoke;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.204);
  font-size: 12px;
  padding: 2px 4px;
  padding-left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: none;
}

.search-list > li {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 4px 4px;
  background-color: white;
  transition: 0.1s;
}
.search-list > li:hover {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
  scale: 1.04;
}

#searchList,
.search-list {
  box-sizing: border-box;
  padding: 0;
}

.container-left-footer {
  border: 2px solid red;
  height: max-content;
  padding: 30px 0px;
}

.container-left-footer-absolute {
  border: 2px solid black;
}
/* media Query */
@media (max-width: 1150px) {
  .main-container {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .content {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 990px) {
  .icon-design-holder,
  .description > h6,
  .cat-row1 > h6,
  .tags-text,
  .calculation {
    font-size: 10px;
  }

  .container-left,
  .container-right {
    width: 100%;
    padding: 10px;
  }

  .container-right-footer {
    font-size: 14px;
  }

  .members-text,
  .description-text,
  .brand-header {
    height: 16px;
  }

  .product-items > h6,
  .container-left-create-team {
    margin: 4px 0px;
    font-size: 10px;
  }

  .description > h6 {
    height: max-content;
  }
  .container-left-design,
  .members-row,
  .cat-row1,
  .tags-text {
    height: 32px;
  }
}

@media (max-width: 760px) {
  .container-left {
    padding: 0;
    display: none;
  }

  .container-right {
    padding: 10px 10px 500px 10px;
  }

  .container-right-footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 10px;
    left: 30%;
  }
  .content {
    align-items: flex-start;
    gap: 5px;
  }
  .brand {
    width: 100%;
  }

  .brand,
  .description,
  .members,
  .categories,
  .tags,
  .next-meeting {
    width: 100%;
  }

  .description > h6 {
    width: 120px;
  }
  .members, .cat-row1 {
    width: min-content;
  }
  .members-row {
    justify-content: center;
  }
  .calculation {
    margin-top: 20px;
  }

  .box-center, .cat-row1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-x{
    text-align: center;
  }


}

@media (max-width: 680px){
  .container-right {
    padding: 10px 10px 0px 10px;
  }

  .icon-design-holder,
  .description > h6,
  .cat-row1 > h6,
  .tags-text,
  .calculation {
    font-size: 8px;
  }

  .description > h6{
    height: 32px;
  }

}


